<header class="page-header">
  <h1>Dashboard</h1>
</header>

<article class="column">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= link_to "Products", [:admin, :products] %></h3>
    </div> 
    <div class="panel-body">
      <p>There are <%= @products %> products available!</p>
    </div>
  </div> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= link_to "Categories", [:admin, :categories] %></h3>
    </div> 
    <div class="panel-body">
      <p>There are <%= @categories %> categories available!</p>
    </div>
  </div> 
</article>